.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    background-color: rgb(235, 233, 233);
    margin-top: 9%;
    box-shadow: 0 32px 50px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
@media(max-width:576px) {
    .container{
        width: 90%;
        height: 80vh;
    }
  }