.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 500px;
    max-height: 800px;
    background-color: white;
    margin-top: 9%;
    box-shadow: 0 32px 50px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}