.items {
    overflow-y: scroll;
    direction: rtl;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #827fe3;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c3a3a3;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ea4f4f;
  }
  