.item {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    min-height: 32px;

}

.item:hover {
    background-color: #F84546;
    color: white;
    transition-duration: 0.75s;
}

.p-item {
    font-size: 16px;
    padding: 12px 8px;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

}

.close-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: none;

}

.close-button:hover {
    cursor: pointer;

}