.comment {
    width: 90%;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
    direction: rtl;
}
.comment-body:hover{
    background-color:rgb(240, 240, 240);
    cursor: pointer;
}
.comment-body {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 16px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(210, 209, 209);
    padding-bottom: 8px;
    color: rgb(42, 172, 48);

}

.comment-text {
    padding-top: 8px;
    font-size: 18px;
    color: rgb(222, 95, 118);
    text-align: justify;
}

.comment-header span {
    cursor: pointer;
}

.comment-header span:hover {
    color: rgb(1, 50, 6);
}